/* App.css */

/* General */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f7f6;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  color: #00796b;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

h2, h3 {
  margin-top: 20px;
  font-size: 1.8rem;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

input, select, button, label {
  font-size: 1rem;
}

button {
  background-color: #00796b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: #004d40;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: calc(100% - 22px);
}

input[type="number"], input[type="date"], select {
  margin-top: 5px;
}

div {
  margin: 20px auto;
  max-width: 700px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 8px;
}

/* Vacunas */
.vacuna-section {
  margin-bottom: 20px;
}

.vacuna-section h4 {
  color: #004d40;
}

.vacuna-section select {
  width: 90%;
  margin-right: 5px;
}

.vacuna-section button {
  background-color: #00695c;
}

.vacuna-section button:hover {
  background-color: #004d40;
}

/* Personas registradas */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #e0f2f1;
  border: 1px solid #004d40;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  color: #004d40;
  font-weight: bold;
}

/* Botón finalizar */
button.finalizar {
  display: block;
  width: 100%;
  font-weight: bold;
  margin-top: 20px;
}

button.finalizar:hover {
  background-color: #004d40;
}

/* Resaltar secciones */
h3 {
  border-bottom: 2px solid #00796b;
  padding-bottom: 5px;
}

/* Centrado */
.center {
  text-align: center;
}
